
.conteiner{
    width: 90%;
    margin: auto;
}
.titulo{
    text-align: center;
    font-size: 10rem;
    margin: 2rem;

}
.titulo__subTitulo{
    font-size: 5rem;
    margin-bottom: 2rem;
}
span{
    color :rgb(245, 245, 7);
    font-size: 8rem;
    
}

button{
    display: flex;
    justify-content: center;
}
.boton{
    margin: auto;
    padding: 2rem;
    font-size: 1rem;
    }